<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main class="d-flex">
        <section class="d-flex">
            <div class="cart-container radius-10 d-flex fw sombra">
                <h1>Carrito de Compras</h1>

                <% for (product of products) { %>
                    <article>
                        <p class="prod-info"><%= product.nombre %></p>
                        <a href="./detalle/<%= product.id %>"><img src="/images/products/<%= product.avatar %>"  alt=""></a>
                        <div class="amounts d-flex">
                            <div class="sumar-restar d-flex">
                                <button class="fa fa-plus sumar"></button>
                                <p><%= product.stock %></p>     <!-- Actualizar luego con session -->
                                <button class="fa fa-minus restar"></button>
                            </div>
                            <div class="eliminar"><button class="fa fa-trash"></button></div>
                        </div>
                    </article>
                <% } %>
            </div>

            <div class="payment-container mt-20 d-flex">
                <div class="payment-box radius-10 d-flex fw sombra">
                    <p>Total precio especial: $150.000</p>
                    <p>Precio de lista: $180.000</p>
                    <p>Hasta 12 cuotas sin interés</p>
                    <div class="envio-container">
                        <div class="cod-pos d-flex">
                            <input id="cod-pos" name="cod-pos" type="text">
                            <label for="cod-pos">Código Postal</label>
                        </div>
                        <button>Calcular Envío</button>
                    </div>
                </div>

                <div class="payment-box radius-10 d-flex sombra">
                    <button>COMPRAR EN UN PAGO</button>
                    <button>COMPRAR EN CUOTAS</button>
                    <button>SEGUIR COMPRANDO</button>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>