<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <article class="articulo">
                <img src=<%= productImage %>>
        </article>
        <div>
            <p><%= productNombre %></p>
            <p><%= productPrecio %></p>
            <p><%= productDescription %></p>
            <p><button type="submit">COMPRAR</button>
        </div>
    </main>

    <%- include('../partials/footer') %>
