<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <h1>Ingresá a tu cuenta de usuario:</h1>

        <form action="/auth/ingresar" method="POST">

          <div class="field">
            <% if (typeof errors != "undefined") { %>
              <% if (typeof errors.email != "undefined") { %>
                  <p class="error"><%= errors.email.msg %></p>
              <% } %>
            <% } %>
            <input type="email" id="email" name="email" placeholder="Email">
          </div>

          <div class="field">
            <% if (typeof errors != "undefined") { %>
              <% if (typeof errors.password != "undefined") { %>
                  <p class="error"><%= errors.password.msg %></p>
              <% } %>
            <% } %>
            <input type="password" id="password" name="password" placeholder="Contrase&ntilde;a" required>
          </div>

          <div class="field a-center">
            <input type="checkbox" id="check" name="remember">
            <label class="check-track" for="check">
              <span class="check-track_indicator"></span>
            </label>
            <p class="remember">Recordame</p>
          </div>

          <button class="google">Sign in with<img src="/images/google-logo-1.png"></i></button></p>
          <button type="submit">Ingresar</button>

        </form>
      </main>

    <%- include('../partials/footer') %>