<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
      <h1>Crea tu cuenta de usuario:</h1>

      <form action="/auth/registrar" method="POST" class="my-form">

        <div class="field">
            <% if (typeof errors != "undefined") { %>
                <% if (typeof errors.first_name != "undefined") { %>
                    <p class="error"><%= errors.first_name.msg %></p>
                <% } %>
            <% } %>
                    <p class="error" id="first_name_error"></p>
            <input type="text" id="first_name" name="first_name" placeholder="Nombre" 
            <% if (typeof userFilled != "undefined"){ %>
              value="<%= userFilled.first_name %>"
            <% } %> 
            >
        </div>

        <div class="field">
            <% if (typeof errors != "undefined") { %>
                <% if (typeof errors.last_name != "undefined") { %>
                    <p class="error"><%= errors.last_name.msg %></p>
                <% } %>
            <% } %>
            <p class="error" id="last_name_error"></p>
            <input type="text" id="last_name" name="last_name" placeholder="Apellido" 
            <% if (typeof userFilled != "undefined"){ %>
              value="<%= userFilled.last_name %>"
            <% } %>
            >
        </div>

        <div class="field">
            <% if (typeof errors != "undefined") { %>
                <% if (typeof errors.email != "undefined") { %>
                    <p class="error"><%= errors.email.msg %></p>
                <% } %>
            <% } %>
            <p class="error" id="email_error"></p>
            <input type="email" id="email" name="email" placeholder="Email" 
            <% if (typeof userFilled != "undefined"){ %>
              value="<%= userFilled.email %>"
            <% } %>
            >
        </div>

        <div class="field">
            <% if (typeof errors != "undefined") { %>
                <% if (typeof errors.password != "undefined") { %>
                    <p class="error"><%= errors.password.msg %></p>
                <% } %>
            <% } %>
            <p class="error" id="password_error"></p>
            <input type="password" id="password" name="password" placeholder="Contrase&ntilde;a" >
        </div>

        <div class="field">
            <% if (typeof errors != "undefined") { %>
                <% if (typeof errors.confirmpassword != "undefined") { %>
                    <p class="error"><%= errors.confirmpassword.msg %></p>
                <% } %>
            <% } %>
            <p class="error" id="confirmpassword_error"></p>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmar contrase&ntilde;a" >
        </div>

        <div class="form-buttons">
          <button type="submit">Registrar</button>
          <button type="reset" id="reset-button">Cancelar</button>
        </div>
        
      </form>
    </main>

    <%- include('../partials/footer') %>