<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <div class="div-add-product"><h1>Agrega productos:</h1>

        <% if (typeof errors != "undefined"){ %>
            <ul>
                <% for (e of errors) { %>
                <li><%= e %></li>
                <% } %> 
            </ul>
        <% } %> 
        
        <form method="POST" action="/products/add" enctype="multipart/form-data">
            <p>
                <label>Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre del producto" 
                <% if (typeof product != "undefined"){ %>
                    value="<%= product.name %>"
                <% } %> 
                >
            </p>
            <p>
                <label>Categoría:</label>
                <select name="product_categories_id" id="category">
                    <% for (let category of categories){ %> 
                        <option value="<%= category.id %>"
                            <% if (typeof product != "undefined"){ %>
                                <% if (category.id == product.product_categories_id) { %>
                                    selected
                                <% } %> 
                            <% } %> 
                        ><%= category.name %></option>
                    <% } %> 
                </select>
            </p>
            <p>
                <label>Descripción:</label>
                <input type="text" id="description" name="description" placeholder="Descripción del producto"
                <% if (typeof product != "undefined"){ %>
                    value="<%= product.description %>"
                <% } %>
                >
            </p>
            <p>
                <label>Marca:</label>
                <select name="brand_id" id="brand">
                    <% for (let brand of brands){ %> 
                        <option value="<%= brand.id %>"
                            <% if (typeof product != "undefined"){ %>
                                <% if (brand.id == product.brand_id) { %>
                                    selected
                                <% } %> 
                            <% } %>
                        ><%= brand.name %></option>
                    <% } %> 
                </select>
            </p>
            <p>
                <label>Precio:</label>
                <input type="text" id="price" name="price" placeholder="Precio"
                <% if (typeof product != "undefined"){ %>
                    value="<%= product.price %>"
                <% } %>
                >
            </p>
            <p>
                <label>Stock:</label>
                <input type="text" id="stock" name="stock" placeholder="Stock"
                <% if (typeof product != "undefined"){ %>
                    value="<%= product.stock %>"
                <% } %>
                >
            </p>
            <p>
                <label>Imagen:</label>
                <input type="file" id="avatar" name="avatar">
            </p>
            <div class="form-buttons">
                <button type="submit">Agregar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form></div>
    </main>

    <%- include('../partials/footer') %>