<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <article class="articulo">
                <img src="/images/products/<%= producto.avatar %>">
        </article>
        <div>
            <p><%= producto.nombre %></p>
            <p>$ <%= producto.precio %></p>
            <p><%= producto.descripcion %></p>
            <div>
                <button class= "boton" type="submit">COMPRAR</button>
                <% if (typeof locals.user != "undefined") { %>
                    <a href="../edit/<%= producto.id %>"><button class= "boton">EDITAR</button></a>
                <% } %>
                
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
