<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <article class="articulo">
                <img src="/images/products/<%= product.avatar %>">
        </article>
        <div>
            <p><%= product.name %></p>
            <p>$ <%= product.price %></p>
            <p><%= product.description %></p>
            <div>
                <form method="POST" action="/products/cart/add/<%= product.id %>">
                    <button class="boton" type="submit">COMPRAR</button>
                </form>
                <% if (typeof locals.user != "undefined") { %>
                    <a href="../edit/<%= product.id %>"><button class= "boton">EDITAR</button></a>
                <% } %>
                
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
