<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
      <h1>Modificar producto:</h1>
      <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="m-20">
          <label for="avatar">Cambiá la imágen del producto:</label>
          <div class="imagen-editor">
            <img src ='/images/products/<%= producto.avatar %>' alt = "Imagen del producto"/>
          </div>
          <input type="file" id="avatar" name="avatar">
          <p><label for="descripcion">Descripción:</label></p>
          <div>
            <textarea rows="5" id="description" name="description"><%= producto.description %></textarea>
          </div>
        </div>
      <div class="m-20">
        <p>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" value="<%= producto.name %>">
        </p>
        <p>
          <label for="category">Categoría:</label>
          <input type="text" id="category" name="category" value="<%= producto.ProductCategories.name %>">
        </p>
        <p>
          <label for="brand">Marca:</label>
          <input type="text" id="brand" name="brand" value="<%= producto.Brands.name %>">
        </p>
        <p>
          <label for="price">Precio</label>
          <input type="text" id="price" name="price" value="<%= producto.price %>">
        </p>
        <p>
          <label for="stock">Stock:</label>
          <input type="text" id="stock" name="stock" value="<%= producto.stock %>">
        </p>
        <div class="form-buttons">
          <button type="submit">Editar</button>
          <a href="/products"><button type="button">Cancelar</button></a>
        </div>
      </form>
      <form action="/products/remove/<%= producto.id %>?_method=DELETE" method="POST">
        <p><button type="submit" class="danger">Borrar</button></p>
      </form>
      </div>
    </main>

    <%- include('../partials/footer') %>