<%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <div class="add-products">
        <a href="/products/add"><p>Agregá más productos</p></a>
    </div>
    <main class="mtopbottom-10 bg-main radius-10 p-20 sombra">
        <div class="titulo">
            <p>OFERTAS:</p>
        </div>
        <section class="d-flex2">
            <% for (product of products) { %>
                <article class="contenedor-producto sombra">
                    <div class="producto">
                        <a href="/products/detalle/<%= product.id %>">
                            <img src ='/images/products/<%= product.avatar %>' alt = ""/>
                        </a>
                        <div class="van">
                            <i class="fas fa-shuttle-van van borde"></i>
                        </div>
                        <div>
                            <p>$ <%= product.precio %></p>
                            <p><%= product.nombre %></p>       
                        </div>
                    </div>
                </article>
                <% } %>
        </section>
        <section class="formas-de-pago">
            <div class="sombra">
                <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>Pagá con tarjeta</a>
                <a href = '/'><i class="far fa-handshake borde"></i>MercadoPago</a>
                <a href = '/'><i class="far fa-money-bill-alt"></i>En efectivo</a>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>